In [2]:
#from surprise import SVDpp

from surprise import SVD
import pandas as pd
import numpy as np
#from surprise import BaselineOnly
#from surprise import NormalPredictor
from surprise import Dataset
#from surprise.model_selection import cross_validate
from surprise import Reader

In [10]:
# importing the train and test data as pandas dataframe
train_data = pd.read_csv("../Data/train-prep.csv")
test_data = pd.read_csv("../Data/test.csv")
# drop index column
train_data.reset_index(drop=True, inplace=True)
test_data.reset_index(drop=True, inplace=True)

In [11]:
train_data.head()

,Unnamed: 0,genre_id,ts_listen,media_id,album_id,context_type,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age,is_listened
0,0,25471,2016-12-01 13:00:15,222606,41774,12,2004-07-04 00:00:00,1,0,223,0,0,9241,55164,29,0
1,1,25571,2016-11-30 22:25:35,250467,43941,0,2006-03-01 00:00:00,2,1,171,0,0,16547,55830,30,1
2,2,16,2016-11-19 13:59:13,305197,48078,1,2014-07-14 00:00:00,2,1,149,1,1,7665,2704,29,1
3,3,7,2016-11-26 09:21:38,900502,71521,0,2000-10-30 00:00:00,0,0,240,0,1,1580,938,30,0
4,4,7,2016-11-05 18:02:54,542335,71718,0,2008-02-15 00:00:00,0,0,150,0,1,1812,2939,24,1

In [12]:
#format the train_data corresponding to the reader's ('user, item, rating')
# data preparation
prepareData = {"itemID": list(train_data.genre_id),
               "userID": list(train_data.user_id),
               "rating": list(train_data.is_listened),
               }

test_data["is_listened"] = np.nan
prepareTestData = {"itemID": list(test_data.genre_id),
                   "userID": list(test_data.user_id),
                   "rating": list(test_data.is_listened),
                   }

In [15]:
# loading dict into dataframe
df = pd.DataFrame(prepareData)  # train data
dft = pd.DataFrame(prepareTestData)  # test data

In [16]:
df.head()

   itemID  userID  rating
0   25471    9241       0
1   25571   16547       1
2      16    7665       1
3       7    1580       0
4       7    1812       1

In [17]:
test_data.head()

,sample_id,genre_id,ts_listen,media_id,album_id,context_type,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age
0,0,50,1478104371,683078,82356,1,20021008,0,0,542,1,0,17698,2076,30
1,1,2744,1479317140,876497,99692,1,19851231,0,0,307,1,0,10525,26,28
2,2,2744,1479546361,876497,99692,1,19851231,0,0,307,1,0,8716,26,27
3,3,2744,1478457729,876500,99692,1,19851231,2,1,265,1,0,5443,26,30
4,4,2744,1480448560,876504,99692,1,19851231,2,1,356,1,0,7600,26,29

In [27]:
dft.head()

   itemID  userID  rating
0      50   17698     NaN
1    2744   10525     NaN
2    2744    8716     NaN
3    2744    5443     NaN
4    2744    7600     NaN

In [ ]:
# Creating a Reader
reader = Reader(rating_scale=(0, 1))

In [ ]:
# Arranging dataframe
data = Dataset.load_from_df(df[["userID", "itemID", "rating"]], reader)
testdata = Dataset.load_from_df(dft[["userID", "itemID", "rating"]], reader)

In [ ]:
#build full trainset
full_trainset = data.build_full_trainset()

In [ ]:
# build an algorithm, and train it
algo = SVD()
model = algo.fit(full_trainset)

In [ ]:
# predict the ratings with the trained algo on the testdata
prediction = algo.predict(testdata)

In [ ]:
# Do a crossvalidation on the traindata with the same algo

In [ ]:
# Do a benchmark with normalPrediction (random prediction)